<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 </title>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script><!--  引包-->
</head>
<body>
<div id="app">
   <div>watch 监听数据</div>
    <input type="text" name="" v-model="msg.text">

    <p>computed计算属性</p>
    <input type="text" name="" v-model="n1">+
    <input type="text" name="" v-model="n2">*
    <input type="text" name="" v-model="n3">={{result}}

</div>
<script type="text/javascript">

	new Vue({
		el: '#app', // 目的地
		// 定义声明变量
		data: function () {
			return {
				msg:{text:''},
				n1:'',
				n2:'',
				n3:'1'
			}
		},

		/* 方法*/
		methods:{
			change:function () {
				this.name='我改变了'
			}
		},
        // 数据监听一个
        watch: {
	        /*msg(newval,oldval){   // msg是你要监听的变量名，，
				console.log(oldval,newval)
                if(newval.text==='love'){
					alert('yes i do');
                }
            */
	        // msg: {
		     //    handler(val) {
			 //        if (val.text == 'love') {
				//         alert(val.text)
			 //        }
		     //    },
		     //    deep: true  // 开启深度监听
	        // }
        },
		/*computed监听多个*/
		computed:{
			result(){
				return Number(this.n1)+Number(this.n2)*Number(this.n3)
			}
		},

	})

</script>
</body>
</html>